<launch>
  <!-- Static TFs -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_camera" output="screen"
        args="0 0 1.57 0 1.5708 0 base_link camera_link" />
 
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_to_optical" output="screen"
        args="0 0 0 0 0 0 camera_link camera_depth_optical_frame" />

 
<node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_to_imu_optical" output="screen"
      args="0 0 0 0 0 0 camera_link camera_imu_optical_frame" />

  <!-- Depth Image to LaserScan -->
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen">
    <param name="output_frame_id" value="camera_imu_optical_frame"/>
    <remap from="image" to="/camera/depth/image_rect_raw"/>
    <remap from="camera_info" to="/camera/depth/camera_info"/>
    <param name="scan_topic" value="/scan"/>
    <param name="range_max" value="10.0"/>
    <param name="range_min" value="0.2"/>
  </node>


<include file="$(find autonomous_navigation)/launch/rtabmap.launch">
  <arg name="visual_odometry" value="true"/>
  <arg name="approx_sync" value="true"/>
  <arg name="approx_sync_max_interval" value="0.1"/>
  <arg name="frame_id" value="base_link"/>
  <arg name="odom_frame_id" value="odom"/>
  <arg name="rgb_topic" value="/camera/color/image_raw"/>
  <arg name="depth_topic" value="/camera/depth/image_rect_raw"/>
  <arg name="camera_info_topic" value="/camera/color/camera_info"/>
  <arg name="rtabmapviz" value="false"/>
</include>



  <!-- EKF Node -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" output="screen">
    <rosparam command="load" file="$(find autonomous_navigation)/config/ekf.yaml"/>
  </node>

  <!-- AMCL Node -->
  <node name="amcl" pkg="amcl" type="amcl" output="screen">
    <param name="base_frame_id" value="base_link"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="global_frame_id" value="map"/>
    <param name="laser_model_type" value="likelihood_field"/>
    <param name="laser_max_beams" value="60"/>
    <param name="update_min_d" value="0.2"/>
    <param name="update_min_a" value="0.2"/>
    <param name="min_particles" value="100"/>
    <param name="max_particles" value="500"/>
    <param name="kld_err" value="0.01"/>
    <param name="kld_z" value="0.99"/>
    <param name="transform_tolerance" value="0.5"/>  
    <remap from="scan" to="/scan"/>
  </node>

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find autonomous_navigation)/rviz/amcl_config.rviz"/>
</launch>

